processor	: 0
vendor_id	: GenuineIntel
model name	: 13th Gen Intel(R) Core(TM) i5-13420H
cpu MHz		: 2200.000
processor	: 1
vendor_id	: GenuineIntel
model name	: 13th Gen Intel(R) Core(TM) i5-13420H
cpu MHz		: 2200.000
